.introFooter {
  display: block;
}

/* util */

.grid {
  margin: 0;
  padding: 0;

  grid-gap: 0px !important;
}

.cell {
  margin: 0;
  padding: 0;

  /* border: 1px solid #020c10; */
}

.neonText {
  color: #ff1616;
  /* text-shadow:
    0 0 7px #ff1616,
    0 0 10px #ff1616; */
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  margin: 20px;

  background: #6a053c;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 40px;
  background: rgb(161, 163, 211);
  cursor: pointer;
  border: none;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 40px;
  background: red;
  cursor: pointer;
  border: none;
}

.button {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  background: linear-gradient(to bottom left, #fbd15d82 50%, #ffdc7b4d 50% 100%),
    linear-gradient(to bottom right, #ffe29355 50%, #ffe7a5 50% 100%);
  border-radius: 7px;

  width: 250px;
  padding: 10px;

  color: #030303;
  font-size: 15pt;
}

.button a {
  color: #030303;
  font-size: 15pt;
}

@media (min-width: 1100px) {
  .intro {
    min-width: 800px;
    max-width: 70%;
    border: none;

    margin-left: auto;
    margin-right: auto;
  }

  .description {
    max-width: 800px;
    margin: auto;
    color: #020c10;
  }

  .descriptionBlock {
    margin-top: 0px;
  }

  .subscribeHeader {
    font-size: 30pt;
    color: #030303;
    margin-top: 20px;
  }

  .subscribe  * {
    font-size: 5vw;
    color: #dd7113;
  }

  .subscribeService {
    font-size: 15pt;
  }

  .showcaseContainer {
    background-color: none;
    margin-top: 20px;
  }

  .card {
    background-color: rgba(255,220,150,0.7);
    border-radius: 25px;
  }

  .cardImage {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;

      background-color:white;
      background-image:
      radial-gradient(#fbd15d 9px, transparent 10px),
      repeating-radial-gradient(#fbd15d 0, #fbd15d 4px, transparent 5px, transparent 20px, #fbd15d 21px, #fbd15d 25px, transparent 26px, transparent 50px);
      background-size: 30px 30px, 90px 90px;
      background-position: 0 0;
  }

  .cardImage img {
    width: 100%;
    object-fit: contain;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .cardHeading > h1 {
    font-size: 15pt;
    padding: 5px;
    text-align: left;
  }

  .cardHeading > h5 {
    font-size: 12pt;
    padding: 5px;
    text-align: left;
  }

  .cardDescription {
    font-size: 12pt;
    padding: 5px;
    text-align: left;
  }

  .menu {
    text-align: left;
  }

  :global(.menu p) {
    color: #ff1616;
    font-size: 10pt !important;
  }

  .menu a {
    color: #020c10;
    font-size: 11pt;
    width: 150px;
  }

  .menu p {
    margin-bottom: 0 !important;
  }

  .content {
    color: #020c10;
    font-size: 16pt;
    text-align: left;
  }
}

@media (max-width: 1100px) and (min-width: 481px) {
  .intro {
    border: none;

    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
  }

  .description {
    max-width: 80vw;
    margin: auto;
    color: #020c10;
  }

  .descriptionBlock {
    margin-top: 0px;
  }

  .subscribeHeader {
    font-size: 25pt;
    color: #030303;
    margin-top: 20px;
  }

  .subscribe * {
    font-size: 10vw;
    color: #dd7113;
  }

  .subscribeService {
    font-size: 15pt;
  }

  .showcaseContainer {
    background-color: none;
    margin-top: 20px;
  }

  .card {
    background-color: rgba(255,220,150,0.7);
    border-radius: 25px;
    background-image: linear-gradient(
      70deg,
      #fbd15d 5%,
      #ffdc7b 5% 10%,
      #ffe293 10% 15%,
      #ffe7a5 15% 20%,
      #00000000 20% 100%
    );
  }

  .cardImage {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

    background-color:white;
    background-image:
    radial-gradient(#fbd15d 9px, transparent 10px),
    repeating-radial-gradient(#fbd15d 0, #fbd15d 4px, transparent 5px, transparent 20px, #fbd15d 21px, #fbd15d 25px, transparent 26px, transparent 50px);
    background-size: 30px 30px, 90px 90px;
    background-position: 0 0;
  }

  .cardImage img {
    width: 100%;
    object-fit: contain;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .cardHeading > h1 {
    font-size: 15pt;
    padding: 5px;
    text-align: left;
  }

  .cardHeading > h5 {
    font-size: 12pt;
    padding: 5px;
    text-align: left;
  }

  .cardDescription {
    font-size: 12pt;
    padding: 10px;
    margin-left: 40px;
    text-align: left;
  }

  .menu {
    text-align: left;
  }

  :global(.menu p) {
    color: #ff1616;
    font-size: 10pt !important;
  }

  .menu a {
    color: #020c10;
    font-size: 11pt;
    width: 150px;
  }

  .menu p {
    margin-bottom: 0 !important;
  }

  .content {
    color: #020c10;
    font-size: 16pt;
    text-align: left;
  }
}

@media (max-width: 481px) {
  .intro {
    border: none;

    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
  }

  .description {
    max-width: 80vw;
    margin: auto;
    color: #020c10;
  }

  .descriptionBlock {
    margin-top: 20px;
  }

  .subscribeHeader {
    font-size: 25pt;
    color: #030303;
    margin-top: 20px;
  }

  .subscribe * {
    font-size: 10vw;
    color: #dd7113;
  }

  .subscribeService {
    font-size: 10pt;
  }

  .showcaseContainer {
    background-color: none;
    margin-top: 20px;
  }

  .card {
    background-color: rgba(255,220,150,0.7);
    border-radius: 25px;
  }

  .cardImage {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;

      background-color:white;
      background-image: radial-gradient(#fbd15d 9px, transparent 10px), repeating-radial-gradient(#fbd15d 0, #fbd15d 4px, transparent 5px, transparent 20px, #fbd15d 21px, #fbd15d 25px, transparent 26px, transparent 50px);
      background-size: 30px 30px, 90px 90px;
      background-position: 0 0;
  }

  .cardImage img {
    height: 100%;
    object-fit: contain;
  }

  .cardHeading > h1 {
    font-size: 15pt;
    padding: 5px;
    text-align: left;
  }

  .cardHeading > h5 {
    font-size: 12pt;
    padding: 5px;
    text-align: left;
  }

  .cardDescription {
    font-size: 12pt;
    padding: 5px;
    text-align: left;
  }

  .menu {
    text-align: left;
  }

  :global(.menu p) {
    color: #ff1616;
    font-size: 10pt !important;
  }

  .menu a {
    color: #020c10;
    font-size: 11pt;
    width: 150px;
  }

  .menu p {
    margin-bottom: 0 !important;
  }

  .content {
    color: #020c10;
    font-size: 16pt;
    text-align: left;
  }
}
