
.intro {
  border: none;
  max-width: 2000px;
  padding-bottom: 50px;

  margin-left: auto;
  margin-right: auto;
}

.logo {
  max-height: 300px;
}

.logo img {
  max-height: 300px;
}

.introHeader {
  padding: 20px;
}

.calculus {
  padding-top: 30px;
  color: #ff1616;
  font-size: 35pt;
  text-align: left;
}

.calculusAbout {
  color: #d4d4d4;
  font-size: 20pt;
  text-align: left;
}

.menu {
  text-align: left;
}

.menu p {
  color: #ff1616;
  font-size: 10pt;
}

.menu a {
  color: #b4b4b4;
  font-size: 12pt;
}

.menu a:hover {
  background-color: #0c0c20;
  color: #ff1616;
}

.separator350 {
  background-color: #ff1616;
  height: 2px;
  max-width: 350px;
  box-shadow:
    0 0 7px #ff1616,
    0 0 10px #ff1616;

  /* background-image: url(../../assets/banner7.png); */
  background-size: 100%;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.separator {
  background-color: #ff1616;
  height: 2px;
  max-width: 90%;
  margin: auto;
  box-shadow:
    0 0 7px #ff1616,
    0 0 10px #ff1616;

  /* background-image: url(../../assets/banner7.png); */
  background-size: 100%;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.system img {
  height: 100%;
  overflow: hidden;
}

.system {
  color: #b4b4b4;
  font-size: 16pt;
}

.integrate img {
  min-height: 400px;
}

.content {
  color: #d4d4d4;
  font-size: 16pt;
}

.content h2 {
  font-weight: normal !important;
  color: #ff1616 !important;
  text-shadow:
    0 0 7px #ff1616,
    0 0 10px #ff1616;
}

.introFooter {
  display: block;
}

.introFooterGrid {
  min-height: 450px;
}

/* util */

.grid {
  margin: 0;
  padding: 0;

  grid-gap: 0px !important;
}

.cell {
  margin: 0;
  padding: 0;

  /* border: 1px solid white; */
}

.neonText {
  color: #ff1616;
  text-shadow:
    0 0 7px #ff1616,
    0 0 10px #ff1616;
}
