
.intro {
  border: none;
  max-width: 2000px;
  padding-bottom: 50px;

  margin-left: auto;
  margin-right: auto;
}

.logo {
  max-height: 200px;
}

.logo img {
  max-height: 200px;
}

.introHeader {
  padding: 20px;
}

.calculus {
  padding-top: 30px;
  color: #ff1616;
  font-size: 25pt;
  text-align: left;
}

.calculusAbout {
  color: #d4d4d4;
  font-size: 17pt;
  text-align: left;
}

.menu {
  text-align: left;
}

.menu p {
  color: #ff1616;
  font-size: 10pt;
}

.menu a {
  color: #b4b4b4;
  font-size: 12pt;
}

.menu p {
  margin-bottom: 0 !important;
}

.notionLink {
  padding: 0 !important;
  margin: 0 !important;
}

.menu a:hover {
  background-color: #0c0c20;
  color: #ff1616;
}

.separator350 {
  background-color: #ff1616;
  height: 2px;
  max-width: 350px;
  box-shadow:
    0 0 7px #ff1616,
    0 0 10px #ff1616;

  /* background-image: url(../../assets/banner7.png); */
  background-size: 100%;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.separator {
  background-color: #ff1616;
  height: 2px;
  max-width: 90%;
  margin: auto;
  box-shadow:
    0 0 7px #ff1616,
    0 0 10px #ff1616;

  /* background-image: url(../../assets/banner7.png); */
  background-size: 100%;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.system img {
  /* height: 100%; */
  overflow: hidden;
  padding: 20px;
  border: 1px dashed #ff00ff;
  border-radius: 20px;
}

.system {
  color: #b4b4b4;
  font-size: 16pt;
  align-items: center;
  text-align: center;
  height: 550px;
}

.iframe {
  overflow: hidden;
  width: 920px;
  height: 450px;
}

iframe {
  width: 1920px;
  height: 1000px;
  position: relative;
  left: -10px;
  top: -10px;
  bottom: -50px;
  -moz-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}

.integrate img {
  min-height: 400px;
}

.content {
  color: #d4d4d4;
  font-size: 14pt;
  text-align: left;
  margin-left: 20px;
}

.content h1, h2 {
  font-weight: normal !important;
  color: #7a70a7 !important;
  /* text-shadow:
    0 0 7px #ff1616,
    0 0 10px #ff1616; */
}

.introFooter {
  display: block;
}

.introFooterGrid {
  min-height: 350px;
}

/* util */

.grid {
  margin: 0;
  padding: 0;

  grid-gap: 0px !important;
}

.cell {
  margin: 0;
  padding: 0;

  /* border: 1px solid white; */
}

.neonText {
  color: #ff1616;
  /* text-shadow:
    0 0 7px #ff1616,
    0 0 10px #ff1616; */
}
