.outro {
  border: none;

  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  max-height: 400px;
}

.logo img {
  max-height: 300px;
}

.calculus {
  padding-top: 30px;
  color: #ff1616;
  font-size: 25pt;
  text-align: left;
}

.calculusAbout {
  color: #d4d4d4;
  font-size: 14pt;
  text-align: left;
}

.separator {
  background-color: #ff1616;
  height: 2px;
  max-width: 350px;
  box-shadow: 0 0 7px #ff1616, 0 0 10px #ff1616;

  /* background-image: url(../../assets/banner7.png); */
  background-size: 100%;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.halo {
  max-height: 500px;
  max-width: 400px;
}

.halo img {
  padding: 20px;
  padding-top: 100px;

  height: 100%;
  width: 100%;
}

.outroFooter {
  min-height: 150px;
}

/* util */

.grid {
  margin: 0;
  padding: 0;

  grid-gap: 0px !important;
}

.cell {
  margin: 0;
  padding: 0;

  /* border: 1px solid white; */
}

.neonText {
  color: #ff1616;
  /* text-shadow:
    0 0 7px #ff1616,
    0 0 20px #ff1616; */
}
