.App {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;

  text-align: center;
  /* background-image: url('../assets/background2.jpg'); */
  /* background-image: linear-gradient(to right, #7d51c4, #d848ad, #fd4f78, #f5b43b, #f5f52e); */
  /* background: radial-gradient(circle, rgba(195,34,145,1) 0%, rgba(253,114,45,1) 100%); */
  /* background: linear-gradient(to right, #ed7979 20%, #e2c286 20% 40%, #e2e288 40% 60%, #93e693 60% 80%, #9797e6 80%); */




  background-size: 100% 100%;

  padding: 10px;

  font-size: 10pt;
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  font-family: "Fira Sans";
}

.appContent {
  border-radius: 30px;
  /* height: calc(100vh - 10px); */
  overflow-y: hidden;
  overflow-x: hidden;
}

@media (min-width: 1100px) {
  .appContent {
    background-image: linear-gradient(70deg,
      /* #0c0c20, #1e0c20 */
      #faba43 5%, #f8c66a 5% 10%, #ffd992 10% 15%, #ffe3ae 15% 20%, #fce7c0 20% 30%, #fff1d6 30% 40%, #fff7e9 40% 83%, #fdfaf4 83% 100%
    );
  }
}

@media (max-width: 1100px) {
  .App {
    padding: 0px;
  }

  .appContent {
    border-radius: 0px;

    background-image: linear-gradient(70deg,
      /* #0c0c20, #1e0c20 */
      #F49586 5%, #E7A1A4 5% 10%, #EAB6B8 10% 15%, #E2C5A8 15% 20%, #f0d4a0 20% 30%, #f2deb9 30% 40%, #F0E4CE 40% 90%, #F7EBDB 90% 100%
    );
  }
}
